*{
    font-family: roboto;
    
}

body{
    padding: 0;
    margin: 0;
}

h1{
    color: blue;
}


input{
    width: 90%;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0px;
}

li{
    color: white;
    border: 1px solid black;
    width: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

li:hover{
    opacity: 0.5;
}

.container{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 108, 175);
    justify-content: space-evenly;
}


.login-form{
    width: 60%;
    background-color: aqua;
    height: 30%;
    padding: 5px;
}

.div-login-form{
    width: 50%;
    height: 90%;
    background-color: #39b57b;
    display: flex;
    align-items: center;
}


.div-cadastro-form{
    width: 80%;
    height: 90%;
    background-color: #4f4fa7;
    display: flex;
    align-items: center;
}
.cadastro-form{
    /* display: none; */
    background-color:brown;
    padding: 5px;
}

