*{
    font-family: roboto;

}

body{
    padding: 0;
    margin: 0;
}

h1{
    color: blue;
}


input{
    width: 90%;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 13px;
}

.container{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 108, 175);
    justify-content: space-evenly;
}


.login-form{
    width: 60%;
    background-color: aqua;
    height: 50%;
    padding: 5px;
}

.div-login-form{
    width: 50%;
    height: 90%;
    background-color: #39b57b;
    display: flex;
    align-items: center;
}


.div-cadastro-form{
    width: 80%;
    height: 90%;
    background-color: #4f4fa7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cadastro-form{
    /* display: none; */
    background-color:brown;
    padding: 5px;
    width: 60%;

}

.tabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tabs .label-tabs{
    order: 1;
    display: block;
    padding: 10px 15px;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: yellow;
    font-weight: bold;
    transition: background ease 0.3s;
}

.tabs .tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    height: 280px;
    display: none;
    padding: 1rem;
    background-color: #fff;
}

.tabs input[type="radio"]{
    display: none;
}

.tabs input[type="radio"]:checked+.label-tabs{
    background-color: #ffffff;
}

.tabs input[type="radio"]:checked+.label-tabs+.tab{
    display:block;
}

.ci{
    display: flex;
    flex-direction: column;
}


.tab label{
    font-size: 14px;
    color: #e00c0c;
    transition: all 0.3s ease;
}

.ci input{
    border: none;
    border-bottom: 1px solid #888;
    padding: 5px 0;
    font-size: 16px;
    background-color: transparent;
}

.ci input:focus{
    outline: none;
    border-color: #333;
}

/* .ci input:focus+label, .ci input:not(:placeholder-shown) + label{
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #333;
} */

.div-teste-login{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
}



